<div class="container">
<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
	  
      <%= f.label :email %>
      <%= f.text_field :email, required: true, type: 'email' %>

      <%= f.label :password %>
      <%= f.password_field :password, required: true %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, required: true %>

      <%= f.label :avatar, "Your Profile Picture"%>
      <%= image_tag @user.avatar.url(:thumb), class: "img-polaroid" %>
      <%= f.file_field :avatar %>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
  
<% end %>
</div>