<div class="container">
      <div class="span3">
<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
	  <%= f.label :firstname %>
      <%= f.text_field :firstname, required: true %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname, required: true %>

      <%= f.label :email %>
      <%= f.text_field :email, required: true, type: '' %>

      <%= f.label :password %>
      <%= f.password_field :password, required: true %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, required: true %>

      <%= f.label :avatar, "Your Profile Picture"%>
      <%= f.file_field :avatar %>
      </br>
      <div class="eFSB">
      <%= f.submit "Create my account", class: "yt-uix-button yt-uix-button-primary" %>
      </div>
<% end %>
</div>
</div>