<!DOCTYPE html>
<html>
<head>
  <title>Happenly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
</head>

<body>
	<%= render 'layouts/navbar' %>
	
		<%= yield %>
	
		
</body>
	<%= render 'layouts/footer' %>
	<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
	<%= javascript_include_tag "application" %>

	<script type="text/javascript">
		
		$('#q').focus(function() {
    		if ($("#q").val() == "Search things happening nearby.." ){

    				$("#q").val("");
    		}

  			});
		$('#q').blur(function() {
    		if ($("#q").val() == "" || !$.trim($("#q").val()).length ){

    				$("#q").val("Search things happening nearby..");
    		}

  			});
		var docWidth = $(document).width();
		var percent = Math.round(docWidth * 0.05) ;
		var position = (percent + 380) + "px" ;
		

		$("#map").height($(document).height() - 45);
		
		var map = L.map('map').setView([<%=user_location.latitude%>, <%=user_location.longitude%>], 13);
		L.tileLayer('http://{s}.tile.cloudmade.com/bf1b79ed16d34e568ff0b0295e99d328/997/256/{z}/{x}/{y}.png', {
    	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    	maxZoom: 18
		}).addTo(map);
		$(".leaflet-control-zoom").css('margin-left', position);
		window.onresize = function() {
			$("#map").height($(document).height() - 45);
			var docWidth = $(document).width();
			var percent = Math.round(docWidth * 0.05) ;
			var position = (percent + 380) + "px" ;
			$(".leaflet-control-zoom").css('margin-left', position);
			}
	</script>
</html>
